<launch>
  <rosparam file="$(find command)/config/rosparam.yaml" />
  <node name="rosserial" pkg="rosserial_python" type="serial_node.py" output="screen" respawn="true">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <node name="command_node" pkg="command" type="command_node" output="screen" respawn="true"/>
</launch>